micronaut:
  application:
    name: vasmax
  router:
    static-resources:
      default:
        enabled: true
        mapping: "/**"
        paths: classpath:static
  server:
    port : ${MXS_HTTP_PORT:80}
    dual-protocol: ${MXS_DUAL_PROTOCOL:true}
    ssl:
      enabled: ${MXS_SSL_ENABLED:true}
      port: ${MXS_HTTPS_PORT:443}
    http-to-https-redirect: true
    cors:
      enabled: true
      allow-origins: "*"
  http:
    services:
      vk:
        url: https://id.vk.ru
        client-id: ${MXS_CLIENT_ID:54368087}
acme:
  enabled: ${MXS_ACME_ENABLED:true}
  tos-agree: true
  cert-location: /etc/maximserver
  domains:
    - maximserver.ru
  refresh:
    delay: 1m
    frequency: 24h
  domain-key: file:/etc/maximserver/domainKey.pem
  account-key: file:/etc/maximserver/accountKey.pem
  acme-server: https://acme-v02.api.letsencrypt.org/directory
  order:
    pause: 3s
    refresh-attempts: 10
  auth:
    pause: 1m
    refresh-attempts: 10
  renew-within: 30
  challenge-type: tls
  timeout: 10s
logger:
  levels:
    # Set the logging level for the specific package where your client interface resides
    com.vasmax.auth: DEBUG
    # Enable debug logs for the core Micronaut HTTP client infrastructure
    io.micronaut.http.client: DEBUG
    # For highly detailed request/response headers and bodies (massive output)
    io.micronaut.http.client.netty: TRACE
    com.vasmax.security.VkTokenValidator : DEBUG